{% extends 'base.html' %} 
{% block content %}
    <!--hero section-->
    <section class="bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="h2 mb-0">Blog Awareness</h1>
                </div>
                <div class="col-md-6 mt-3 mt-md-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
                            <li class="breadcrumb-item"><a class="text-dark" href="#"><i
                                        class="las la-home me-1"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active text-success" aria-current="page">Awareness</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->


    <!--body content start-->

<div class="page-content">

    <!--blog start-->
    
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4 col-md-6">
            <!-- Blog Card -->
            <div class="card border-1 bg-transparent card-pro">
              <div class="position-relative rounded overflow-hidden">
                <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
                <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/img6.jpg') }}" alt="Image">
              </div>
              <div class="card border-0 active mb-3">
                <div class="card-header">
                    <h6 class="mb-0">
                        <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                            href="#collapse1" aria-expanded="true">The importance of agriculture to the environment</a>
                    </h6>
                </div>
                <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body text-muted">We live in this environment, so our health: It is true.
                      We breathe from the air of the environment in which we live. Polluted air inevitably leads to sicknesses to us and our children that we do not want to mention.</div>
                </div>
            </div>
            </div>
              <!-- End Blog Card -->
      </div>
      <div class="col-12 col-lg-4 col-md-6 mt-5 mt-md-0">
        <!-- Blog Card -->
        <div class="card border-1 bg-transparent card-pro">
          <div class="position-relative rounded overflow-hidden">
            <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
            <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/img9.jpg') }}" alt="Image">
          </div>
          <div class="card border-0 active mb-3">
            <div class="card-header">
                <h6 class="mb-0">
                    <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                        href="#collapse1" aria-expanded="true">The effects of desertification on the environment</a>
                </h6>
            </div>
            <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body text-muted">Agriculture increases the scenic beauty, and improves many areas.
                Reduce strong winds.
                Reducing soil erosion, which depends on erosion factors. our children that we do not want to mention.      
                 </div>
            </div>
        </div>
        </div>
              <!-- End Blog Card -->
            </div>
            <div class="col-12 col-lg-4 col-md-6 mt-5 mt-md-0">
              <!-- Blog Card -->
              <div class="card border-1 bg-transparent card-pro">
                <div class="position-relative rounded overflow-hidden">
                  <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
                  <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/img8.jpg') }}" alt="Image">
                </div>
                <div class="card border-0 active mb-3">
                  <div class="card-header">
                      <h6 class="mb-0">
                          <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                              href="#collapse1" aria-expanded="true">Benefits of using natural products</a>
                      </h6>
                  </div>
                  <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
                      <div class="card-body text-muted">Turning to nature is the best thing you can do for your beauty and skin. Nature has endowed us with many effective ingredients that can treat all skin problems facing the skin, body or hair.
                        It also works to combat all the effects of pollution that we face daily.
                          </div>
                  </div>
              </div>
              </div>
                    <!-- End Blog Card -->
                  </div>
      
                  <div class="col-12 col-lg-4 col-md-6 mt-5 mt-md-4">
                    <!-- Blog Card -->
                    <div class="card border-1 bg-transparent card-pro">
                      <div class="position-relative rounded overflow-hidden">
                        <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
                        <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/image4.jpg') }}" alt="Image">
                      </div>
                      <div class="card border-0 active mb-3">
                        <div class="card-header">
                            <h6 class="mb-0">
                                <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                                    href="#collapse1" aria-expanded="true">The effects of desertification on the environment</a>
                            </h6>
                        </div>
                        <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
                            <div class="card-body text-muted">Agriculture increases the scenic beauty, and improves many areas.
                              Reduce strong winds.
                              Reducing soil erosion, which depends on erosion factors represented by water and wind.the scenic beauty, and improves many areas.
                                p.</div>
                        </div>
                    </div>
                    </div>
                          <!-- End Blog Card -->
                        </div>
      
                        <div class="col-12 col-lg-4 col-md-6 mt-5 mt-md-4">
                          <!-- Blog Card -->
                          <div class="card border-1 bg-transparent card-pro">
                            <div class="position-relative rounded overflow-hidden">
                              <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
                              <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/image2.jpg') }}" alt="Image">
                            </div>
                            <div class="card border-0 active mb-3">
                              <div class="card-header">
                                  <h6 class="mb-0">
                                      <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                                          href="#collapse1" aria-expanded="true">The benefits of plants to the environment</a>
                                  </h6>
                              </div>
                              <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
                                  <div class="card-body text-muted">Agriculture helps reduce the temperature surrounding the city by increasing the provision of shade, and it improves water and air quality because it absorbs pollutants, intercepts dust and small particles, 
                                    produces oxygen, and reduces the level of ozone depletion.</div>
                              </div>
                          </div>
                          </div>
                                <!-- End Blog Card -->
                              </div>
                              <div class="col-12 col-lg-4 col-md-6 mt-5 mt-md-4">
                                <!-- Blog Card -->
                                <div class="card border-1 bg-transparent card-pro">
                                  <div class="position-relative rounded overflow-hidden">
                                    <div class="position-absolute z-index-1 bottom-0 bg-white text-success shadow-success text-center py-1 px-2 rounded ms-3 mb-3">e.leaf</div>
                                    <img class="card-img-top hover-zoom" src="{{ url_for('static', filename = '/images/blog/image3.jpg') }}" alt="Image">
                                  </div>
                                  <div class="card border-0 active mb-3">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            <a class="text-dark" data-bs-toggle="collapse" data-bs-parent="#accordion"
                                                href="#collapse1" aria-expanded="true">Disadvantages of throwing waste in the sea</a>
                                        </h6>
                                    </div>
                                    <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
                                        <div class="card-body text-muted">Although plastic bags are easy to provide and use and accommodate large quantities of products to be placed in them, they represent a danger to humans and the ecosystem, as the bag needs from 400 to 1000 years 
                                          to decompose naturally and disappear from the ecosystem.</div>
                                    </div>
                                </div>
                                </div>
                                      <!-- End Blog Card -->
                                    </div>
        </div>
      </div>
    </section>

  
{% endblock %}