{% extends 'base.html' %} 
{% block content %}


    <!--hero section start-->

<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="h2 mb-0">Plastic Alternative</h1>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
            <li class="breadcrumb-item"><a class="text-dark" href="#"><i class="las la-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item">Shop</li>
            <li class="breadcrumb-item active text-success" aria-current="page">Plastic Alternative</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 

  <!-- care self products -->
  <div class="page-content">

    <section>
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-5 mb-3 mb-md-0"> <span class="text-muted">Showing 1 to 18 of 20 total</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/image2.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/image1.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Paper shopping bag</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$3.00</del> $1.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-md-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/41GYePaQ--L._AC_SY1000_.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/31yKh+c-X7L._AC_SY1000_.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Food bag</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$4.00</del> $1.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-lg-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/paper-bags-with-handles56427880061.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/uC58mne8i0yyiRA1p5DmRC0DmUDr1gXDziI4XLRT.jpeg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Brown paper bag</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$5.00</del> $3.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/image.jpeg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/H2a41478febb6479ba6eb84e22e2787cfg.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct-image.html">Steel reed</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$6.00</del> $4.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
     
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/Varillas-de-bamb-para-manualidades-pinchos-de-madera-de-1050x5mm-extremos-planos-pinchos-de-bamb-desechables.jpg_Q90.jpg_.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/65c42c02f6c6d2fbf58a1bac01193d00.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Wood reed</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$4.00</del> $2.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/31yKh+c-X7L._AC_SY1000_.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/31yKh+c-X7L._AC_SY1000_.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Bamboo reed</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$5.00</del> $3.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/paper food.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/paper food plates.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Paper food plates</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$3.50</del> $1.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/hair-scalp-massage-comb-bristle-nylon-hairbrush.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/item_XL_22267149_29992856.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Wooden hair comb</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$15.00</del> $12.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/plastic/Natural-Wood-Hangers-Solid-Wood-Clothes-Hangers-Coat-Hanger-Wooden-Hangers.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/plastic/41aeIsdAyrL._AC_SY1000_.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Clothes hanger</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$25.00</del> $22.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <nav aria-label="Page navigation" class="mt-8">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>


  
{% endblock %}