{% extends 'base.html' %} 
{% block content %}

    <!--hero section start-->

<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="h2 mb-0">personal care</h1>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
            <li class="breadcrumb-item"><a class="text-dark" href="#"><i class="las la-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item">Shop</li>
            <li class="breadcrumb-item active text-success" aria-current="page">personal care</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 

  <!-- care self products -->
  <div class="page-content">

    <section>
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-5 mb-3 mb-md-0"> <span class="text-muted">Showing 1 to 18 of 20 total</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image3.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image3.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">serum</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$8.00</del> $6.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-md-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image10.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image10.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Shampoo</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$6.00</del> $4.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-lg-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image11.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image15.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">hydration set</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$15.00</del> $11.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image7.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image7.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct-image.html">Charcoal soap</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$2.00</del> $1.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image16.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image16.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">The sun visor</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$55.00</del> $50.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image17.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image18.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">skin tightening cream</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$8.00</del> $6.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image13.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image13.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">wrinkle ointment</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$6.00</del> $4.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image20.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image20.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">>Grape soap</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$3.00</del> $2.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/self/image19.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/self/image19.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Rose water toner</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$15.00</del> $12.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <nav aria-label="Page navigation" class="mt-8">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="self2.html">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="Self Care.html">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="self2.html">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="self3.html">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="Self Care.html">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>

    
{% endblock %}